@import "tailwindcss";

.progress-bar {
    width: 150%;
    height: 13px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar::-webkit-progress-bar {
    border-radius: 5px;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color:#90a1b9;
    border-radius: 5px;
  }
  
  .progress-bar::-moz-progress-bar {
    background-color: #90a1b9;
    border-radius: 5px;
  }
  


  @media only screen and (max-width: 600px) {
    .progress-bar {
      width: 90%;
      height: 13px;
      border-radius: 5px;
      overflow: hidden;
    }
  }